
.gitattributes
.vs/SDL2_Engine/v16/.suo
.vs/SDL2_Engine/v16/Browse.VC.db
.vs/SDL2_Engine/v16/Browse.VC.opendb
.vs/SDL2_Engine/v16/ipch/AutoPCH/3681c4906f814270/SOUND.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/377d62bb27421a23/PLAYER.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/3854a0dc1537c4d8/SDL2_ENGINE.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/3c939de3c74705c8/GAMEOBJECT.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/4201e968970b1dd0/PLAYER.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/4ccf9ee0c9948e9f/TEXTUREMANAGER.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/63e6d0277fc0d8f9/CAMERA.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/6e2b88a7d2d2c22b/GAMEOBJECT.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/88d31ae4d1b45b5/COLLISION.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/8c6dd8d1c1667da6/ENGINE.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/906ab23d991deed6/COLLISION.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/994f56570aa449db/MAIN.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/d7d7d16cb2fca7ac/TEXTUREMANAGER.ipch
.vs/SDL2_Engine/v16/ipch/AutoPCH/da5d2f13a09dd444/MAP.ipch
ASSETS/Sprites/Hero.png
Debug/Camera.obj
Debug/camera.obj.enc
Debug/Collision.obj
Debug/Engine.obj
Debug/GameObject.obj
Debug/gameobject.obj.enc
Debug/main.obj
Debug/main.obj.enc
Debug/Map.obj
Debug/map.obj.enc
Debug/Player.obj
Debug/SDL2_Engine.exe
Debug/SDL2_Engine.ilk
Debug/SDL2_Engine.log
Debug/SDL2_Engine.pdb
Debug/SDL2_Engine.tlog/CL.command.1.tlog
Debug/SDL2_Engine.tlog/CL.read.1.tlog
Debug/SDL2_Engine.tlog/CL.write.1.tlog
Debug/SDL2_Engine.tlog/link.command.1.tlog
Debug/SDL2_Engine.tlog/link.read.1.tlog
Debug/SDL2_Engine.tlog/link.write.1.tlog
Debug/SDL2_Engine.tlog/SDL2_Engine.lastbuildstate
Debug/TextureManager.obj
Debug/texturemanager.obj.enc
Debug/vc142.idb
Debug/vc142.pdb
libfreetype-6.dll
libogg-0.dll
libpng16-16.dll
libvorbisfile-3.dll
SDL2.dll
SDL2_Engine.sln
SDL2_Engine.vcxproj
SDL2_Engine.vcxproj.filters
SDL2_Engine.vcxproj.user
SDL2_image.dll
SDL2_mixer.dll
SDL2_ttf.dll
zlib1.dll
